@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Raleway', sans-serif;
}

:root {
  --background: #02050e;
  --nav-bg: #640a55;

  --text-gray: #190838;
  --text-white: #f3f4f6;

  
  --fire: #ff6d00;
  --electric: #64d3ff;
}
header
{
    background: var(--nav-bg);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0px 30px;

}

.logo 
{
    height: 90%;
}

.navbar, 
.navbar-list
{
    display:flex;
    align-items: center;
    justify-content: center;
}

.navbar-list
{
    gap: 80px;
}

.navbar-list a {
    color: var(--text-white);
    font-size: 14px;
}